
pre {
  margin-bottom: 0rem;
}
div.scroll {
  height: 15rem;
  overflow: auto;
}

div.scroll-lg {
  height: 30rem;
  overflow: auto;
}

.text-operator {color: #F92472}
.text-type {color: #67D8EF}
.text-name {color: #A6E22C}
.text-value {color: #AC80FF}

.pre-black {
  color: white !important;
  font-weight: bold;
}
.alert-black {
  color: white !important;
  background-color: #282923;
}

.jbaes-bold {
  font-weight: bold;
  font-family: raleway-bold !important;
  color: #3D4351;
}
